<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.term.provider.dao.DeptDao">
    <select id="queryDeptById" parameterType="_long" resultType="dept">
        select * from dept where deptno=#{id}
    </select>
    <insert id="addDept" parameterType="dept">
        insert into dept (dname,db_source)
        values (#{dname},DATABASE())
    </insert>

    <select id="queryAllDepts" resultType="dept">
        select * from dept
    </select>
</mapper>